body {
  font-size: 14px;
}
#pagewrapper {
  padding-top: 5%;
  max-width: 70%;
  display: block;
  margin: auto;
}

#example {
  font-size: .8rem;
}

#sample2 {
  @include 'http://w2ui.com/src/w2ui-1.5.rc1.min.css';
}
