<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 30px 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="550">
            <tr>
                <td align="left" style="font-size: 16px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #333333; line-height: 150%;padding-bottom: 10px;">
                    Your password for below listed username has been successfully changed.
                </td>
            </tr>
            <tr>
                <td align="center" style="font-size: 16px; font-weight: 700; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #333333; line-height: 150%;padding-bottom: 10px;">
                    Username: {{Username}}
                </td>
            </tr>
            <tr>
                <td align="left" style="font-size: 16px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #333333; line-height: 150%;padding-bottom: 10px;">
                    If you received this notification by error, please contact us at the below referenced toll free number.
                </td>
            </tr>
        </table>
    </td>
</tr>
