<tr>
    <td align="center">
        <table border="0" cellpadding="0" cellspacing="15">
            <tr>
                <td align="center" style="font-size: 20px; font-weight: 400; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #15437C; line-height: 22px; padding-bottom: 20px;">
                    Powered by MetTel's Bruin Platform
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="15" width="300">
            <tr>
                <td align="center" valign="middle" style=" width: 80px; height: 80px;">
                    <a href="https://www.linkedin.com/company/mettel" target="_blank">
                        <img height="80" src="http://app.testbruin.com/images/emailnotifications/icon-social-linkedin.png" alt="Follow MetTel on LinkedIn" border="0" />
                    </a>
                </td>
                <td align="center" valign="middle" style="width: 80px; height: 80px;">
                    <a href="https://twitter.com/onemettel" target="_blank">
                        <img height="80" src="http://app.testbruin.com/images/emailnotifications/icon-social-twitter.png" border="0" alt="Follow MetTel on Twitter" />
                    </a>
                </td>
                <td align="center" valign="middle" style="width: 80px; height: 80px;">
                    <a href="https://www.facebook.com/MetTelNet" target="_blank">
                        <img height="80" src="http://app.testbruin.com/images/emailnotifications/icon-social-facebook.png" alt="Follow MetTel on Facebook" border="0" />
                    </a>
                </td>
            </tr>
        </table>

        <table border="0" cellpadding="0" cellspacing="0" width="600" style="padding-top: 30px;">
            <tr>
                <td colspan="2" align="left" width="550" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #020202; line-height: 18px; padding-bottom: 20px;">
                    If you would like to explore an option, or discuss your request with a MetTel support specialist, please call the dedicated toll free number <a href="{{clientRepNumber}}" style="color:#3A6CB8; font-weight:bold; text-decoration:none;"
                        target="_blank"><span style="color: #3A6CB8;">{{clientRepNumber}}</span></a> to speak with a customer care representative.
                </td>
            </tr>
            <tr>
                <td align="left" width="480" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #333333; line-height: 18px;">
                    Thank you again for choosing MetTel,<br />MetTel Bruin | <a href="http://www.mettel.net" target="_blank" style="color: #3A6CB8; font-weight: bold; text-decoration: underline;">www.MetTel.net</a> | <a href="http://www.mettelmobile.com"
                        target="_blank" style="color: #3A6CB8; font-weight: bold; text-decoration: underline;">www.MetTelMobile.com</a>
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2" style="font-size: 10px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #333333; line-height: 12px; padding-top: 20px;">
                    <p>
                      <a href="http://app.bruin.com/images/emailnotifications/Mettel_Notification_email.vcf" target="_blank" style="color: #3A6CB8; font-weight: bold; text-decoration: underline;">
                        Add us to your address book
                      </a>
                      <br/>This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
                      </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
