<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 30px 0 0 0; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <table border="0" cellpadding="0" cellspacing="0" width="550">
            <tr>
                <td align="left" style="font-size: 18px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #333333; line-height: 20px;">
                    Good Day,
                </td>
            </tr>
            <tr>
                <td align="left" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; color: #333333; line-height: 23px;">
                    <br />Thank you for ordering with MetTel your request is now complete. We hope we met all your needs and you will look to us for future services. Should you need any assistance, or feel this order is still in progress, do not hesitate to contact us for support. Please note if you selected our Inside Wire (ISW) extension services we will now coordinate the dispatch of that field technician and send an update once confirmed.
                </td>
            </tr>
        </table>
    </td>
</tr>
