<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 30px 0; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <table border="0" cellpadding="5" cellspacing="0" width="500">
            <tbody>
                <tr>
                    <td align="left" style="font-size: 28px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 700; color: #3A6CB8; line-height: 16px; padding-bottom: 30px;">Discover Bruin.</td>
                </tr>
                <tr>
                    <td align="center" style="padding: 10px 0 10px 0;">
                        <table border="0" cellpadding="5" cellspacing="0" width="550">
                            <tbody>
                                <tr>
                                    <td align="left" width="158" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px;">
                                        <a href="https://vimeo.com/151071214" target="_blank"><img src="http://app.bruin.com/images/emailnotifications/video1.png" width="158" style="max-width: 249px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                alt="video link" /></a>
                                    </td>
                                    <td align="left" valign="middle" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px; padding-left: 35px;"><span style="font-size: 20px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 700; color: #333333; line-height: 16px;">Oversee it all.</span>
                                        <br />
                                        <br />MetTel has made things simpler than ever with more streamlined data and a centralized location to manage all inventory, contracts, support and invoicing. <a href="https://vimeo.com/151071214" target="_blank"
                                            style="color: #2699D7; text-decoration: underline;">Watch Video</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="border-top: 1px solid #e0e0e0; border-collapse: separate;padding: 10px 0 10px 0;">
                        <table border="0" cellpadding="5" cellspacing="0" width="550">
                            <tbody>
                                <tr>
                                    <td align="left" width="158" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px;">
                                        <img src="http://app.bruin.com/images/emailnotifications/video2.png" width="158" style="max-width: 249px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" alt="Bruin screenshot" />
                                    </td>
                                    <td align="left" valign="middle" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px; padding-left: 35px;"><span style="font-size: 20px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 700; color: #333333; line-height: 16px;">Take control of your spend.</span>
                                        <br />
                                        <br />From high-level reporting to line-level detail, we&apos;ll help you uncover more savings with insights into cost variance, usage, budgeting and spend.</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="border-top: 1px solid #e0e0e0; border-collapse: separate;padding: 10px 0 10px 0;">
                        <table border="0" cellpadding="5" cellspacing="0" width="550">
                            <tbody>
                                <tr>
                                    <td align="left" width="158" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px;">
                                        <img src="http://app.bruin.com/images/emailnotifications/video3.png" width="158" style="max-width: 249px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" alt="Bruin screenshot" />
                                    </td>
                                    <td align="left" valign="middle" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px; padding-left: 35px;"><span style="font-size: 20px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 700; color: #333333; line-height: 16px;">Troubleshoot with ease.</span>
                                        <br />
                                        <br />MetTel is granting total visibility into our care dashboards so you can easily open tickets and procure services while measuring their progress.</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="border-top: 1px solid #e0e0e0; border-collapse: separate;padding: 10px 0 10px 0;">
                        <table border="0" cellpadding="5" cellspacing="0" width="550">
                            <tbody>
                                <tr>
                                    <td align="left" width="158" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px;">
                                        <img src="http://app.bruin.com/images/emailnotifications/video4.png" width="158" style="max-width: 249px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" alt="Bruin screenshot" />
                                    </td>
                                    <td align="left" valign="middle" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px; padding-left: 35px;"><span style="font-size: 20px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 700; color: #333333; line-height: 16px;">Shop smarter.</span>
                                        <br />
                                        <br />Enjoy a simple e-commerce experience when ordering new solutions and devices. With a complete on-line catalog and instant quoting, you&apos;ll get what you need more quickly.</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="border-top: 1px solid #e0e0e0; border-collapse: separate;padding: 10px 0 10px 0;">
                        <table border="0" cellpadding="5" cellspacing="0" width="550">
                            <tbody>
                                <tr>
                                    <td align="left" width="158" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px;">
                                        <img src="http://app.bruin.com/images/emailnotifications/video5.png" width="158" style="max-width: 249px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" alt="Bruin screenshot" />
                                    </td>
                                    <td align="left" valign="middle" style="font-size: 14px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 400; color: #707070; line-height: 16px; padding-left: 35px;"><span style="font-size: 20px; font-family: Proxima Nova, Open Sans, Helvetica, Arial, Sans-Serif; font-weight: 700; color: #333333; line-height: 16px;">Make it your own.</span>
                                        <br />
                                        <br />Designed to blend seamlessly with your organization, Bruin offers configuration for everything from hierarchy to visibility permissions and account coding.</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
